<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- Puedes tener otras fuentes aquí -->
  </packageSources>
    <packageSource key="nuget.org">
      <!-- Incluye patrones para los paquetes necesarios -->
      <package pattern="Microsoft.AspNetCore.*" />
      <package pattern="Swashbuckle.*" />
      <package pattern="Microsoft.EntityFrameworkCore*" />
    </packageSource>

</configuration>
